{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center my-2">
  <div class="col-lg-6">

    {% if user.is_anonymous %}
    <h3>Регистрация нового пользователя</h3>
    {% else %}
    <h3>Редактировать профиль</h3>
    <div class="row justify-content-center">
      <div class="col-sm-7 col-md-5 col-lg-4">
        {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="" width="100%">
        {% else %}
        <img src="{{ MEDIA_URL }}avatar_default.svg" alt="" width="100%">
        {% endif %}
      </div>
    </div>
    {% endif %}

    <form method="post" class="mt-2" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary btn-block">
        {% if user.is_anonymous %}
        Зарегистрироваться
        {% else %}
        Сохранить
        {% endif %}
      </button>
    </form>
  </div>
</div>
{% endblock content %}