{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'mainapp:main_page' %}">
      <img src="{% static 'img/logo.png' %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li
          class="nav-item {% if request.resolver_match.view_name == 'mainapp:news' %}active{% endif %}">
          <a class="nav-link" href="{% url 'mainapp:news' %}">Новости</a>
        </li>
        <li
          class="nav-item {% if request.resolver_match.view_name == 'mainapp:courses' %}active{% endif %}">
          <a class="nav-link" href="{% url 'mainapp:courses' %}">Курсы</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ddProfile"
            role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Профиль
          </a>
          <div class="dropdown-menu" aria-labelledby="ddProfile">
            <a class="dropdown-item" href="#">Редактировать
              профиль</a>
            <a class="dropdown-item" href="#">Мои курсы</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Модерация</a>
            <a class="dropdown-item" href="#">Административный
              раздел</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Выход</a>
          </div>
        </li>
        <li
          class="nav-item {% if request.resolver_match.view_name == 'mainapp:contacts' %}active{% endif %}">
          <a class="nav-link" href="{% url 'mainapp:contacts' %}">Контакты</a>
        </li>
      </ul>
      <span><a href="#">🇷🇺</a> <i class="fas fa-grip-lines-vertical"></i> <a
          href="#">🇬🇧</a></span>
    </div>
  </div>
</nav>