<!doctype html>
<html lang="ru">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- ChartJS -->
    <link rel="stylesheet" href="/static/css/Chart.min.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="/static/css/fontawesome.all.min.css">

    <title>Welcome to GeekLab!</title>
  </head>

  <body>





    <div class="row justify-content-around align-items-center" style="height: 100vh; margin: 0px">
      <div class="text-center">
        <p>
          <a href="/"><img src="./static/img/logo.png" alt=""></a>
        </p>
        <h2>Вход пользователя</h2>
        <form>
          <p>
            <input id="id_username" class="form-control" type="text" name="username" placeholder="Имя пользователя"
              required="" autofocus="">
          </p>
          <p>
            <input id="id_password" class="form-control" type="password" name="password" placeholder="Пароль" required="">
          </p>
          <p>
            <button type="submit" class="btn btn-primary btn-block">Войти</button>
          </p>
        </form>
        <p class="text-right">
          <a href=""><small>Забыли пароль?</small></a>
        </p>
        <h4>Вход через социальные сети</h4>
        <p>
          <div class="btn-group btn-block" role="group">
            <a class="btn btn-primary" href="#" role="button"><i class="fab fa-vk"></i></a>
            <a class="btn btn-primary" href="#" role="button"><i class="fab fa-github"></i></a>
            <a class="btn btn-primary" href="#" role="button"><i class="fab fa-facebook"></i></a>
          </div>
        </p>
      </div>
    </div>








    <!-- JavaScript section -->
    <!-- Bootstrap -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- ChartJs -->
    <script src="/static/js/Chart.min.js"></script>

    <!-- FontAwesome -->
    <script src="/static/js/fontawesome.all.min.js"></script>



  </body>

</html>